$font: 'Poppins', sans-serif;
$yellow: rgb(255, 217, 0);
$red: rgb(255, 0, 21);
$brown: rgb(128, 0, 85);
$white: rgb(250, 248, 248);
$green: rgb(94, 248, 89);
$aqua: rgba(37, 192, 192, 0.9);
$pink: rgba(204, 145, 155, 0.9);
$crimson: rgba(187, 69, 92, 0.9);
$blue: rgba(63, 63, 221, 0.9);
$black: rgba(24, 24, 24, 0.9);
$grey: rgb(151, 149, 149);
